<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/postBox.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- <link rel="stylesheet" href="../css/navbar.css"> -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <style>
        /* Googlefont Poppins CDN Link */
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            min-height: 100vh;
        }

        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            height: 70px;
            background: #3E8DA8;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            z-index: 99;
        }

        nav .navbar {
            height: 100%;
            max-width: 1250px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto;
            /* background: red; */
            padding: 0 50px;
        }

        .navbar .logo a {
            font-size: 30px;
            color: #fff;
            text-decoration: none;
            font-weight: 600;
        }

        nav .navbar .nav-links {
            line-height: 70px;
            height: 100%;
        }

        nav .navbar .links {
            display: flex;
        }

        nav .navbar .links li {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            padding: 0 14px;
        }

        nav .navbar .links li a {
            height: 100%;
            text-decoration: none;
            white-space: nowrap;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
        }

        .links li:hover .htmlcss-arrow,
        .links li:hover .js-arrow {
            transform: rotate(180deg);
        }

        nav .navbar .links li .arrow {
            /* background: red; */
            height: 100%;
            width: 22px;
            line-height: 70px;
            text-align: center;
            display: inline-block;
            color: #fff;
            transition: all 0.3s ease;
        }

        nav .navbar .links li .sub-menu {
            position: absolute;
            top: 70px;
            left: 0;
            line-height: 40px;
            background: #3E8DA8;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            border-radius: 0 0 4px 4px;
            display: none;
            z-index: 2;
        }

        nav .navbar .links li:hover .htmlCss-sub-menu,
        nav .navbar .links li:hover .js-sub-menu {
            display: block;
        }

        .navbar .links li .sub-menu li {
            padding: 0 22px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        .navbar .links li .sub-menu a {
            color: #fff;
            font-size: 15px;
            font-weight: 500;
        }

        .navbar .links li .sub-menu .more-arrow {
            line-height: 40px;
        }

        .navbar .links li .htmlCss-more-sub-menu {
            /* line-height: 40px; */
        }

        .navbar .links li .sub-menu .more-sub-menu {
            position: absolute;
            top: 0;
            left: 100%;
            border-radius: 0 4px 4px 4px;
            z-index: 1;
            display: none;
        }

        .links li .sub-menu .more:hover .more-sub-menu {
            display: block;
        }

        .navbar .search-box {
            position: relative;
            height: 40px;
            width: 40px;
        }

        .navbar .search-box i {
            position: absolute;
            height: 100%;
            width: 100%;
            line-height: 40px;
            text-align: center;
            font-size: 22px;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .navbar .search-box .input-box {
            position: absolute;
            right: calc(100% - 40px);
            top: 80px;
            height: 60px;
            width: 300px;
            background: #3E8DA8;
            border-radius: 6px;
            opacity: 0;
            pointer-events: none;
            transition: all 0.4s ease;
        }

        .navbar.showInput .search-box .input-box {
            top: 65px;
            opacity: 1;
            pointer-events: auto;
            background: #3E8DA8;
        }

        .search-box .input-box::before {
            content: '';
            position: absolute;
            height: 20px;
            width: 20px;
            background: #3E8DA8;
            right: 10px;
            top: -6px;
            transform: rotate(45deg);
        }

        .search-box .input-box input {
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 4px;
            transform: translate(-50%, -50%);
            height: 35px;
            width: 280px;
            outline: none;
            padding: 0 15px;
            font-size: 16px;
            border: none;
        }

        .navbar .nav-links .sidebar-logo {
            display: none;
        }

        .navbar .bx-menu {
            display: none;
        }

        @media (max-width:920px) {
            nav .navbar {
                max-width: 100%;
                padding: 0 25px;
            }

            nav .navbar .logo a {
                font-size: 27px;
            }

            nav .navbar .links li {
                padding: 0 10px;
                white-space: nowrap;
            }

            nav .navbar .links li a {
                font-size: 15px;
            }
        }

        @media (max-width:800px) {
            nav {
                /* position: relative; */
            }

            .navbar .bx-menu {
                display: block;
            }

            nav .navbar .nav-links {
                position: fixed;
                top: 0;
                left: -100%;
                display: block;
                max-width: 270px;
                width: 100%;
                background: #3E8DA8;
                line-height: 40px;
                padding: 20px;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                transition: all 0.5s ease;
                z-index: 1000;
            }

            .navbar .nav-links .sidebar-logo {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .sidebar-logo .logo-name {
                font-size: 25px;
                color: #fff;
            }

            .sidebar-logo i,
            .navbar .bx-menu {
                font-size: 25px;
                color: #fff;
            }

            nav .navbar .links {
                display: block;
                margin-top: 20px;
            }

            nav .navbar .links li .arrow {
                line-height: 40px;
            }

            nav .navbar .links li {
                display: block;
            }

            nav .navbar .links li .sub-menu {
                position: relative;
                top: 0;
                box-shadow: none;
                display: none;
            }

            nav .navbar .links li .sub-menu li {
                border-bottom: none;

            }

            .navbar .links li .sub-menu .more-sub-menu {
                display: none;
                position: relative;
                left: 0;
            }

            .navbar .links li .sub-menu .more-sub-menu li {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .links li:hover .htmlcss-arrow,
            .links li:hover .js-arrow {
                transform: rotate(0deg);
            }

            .navbar .links li .sub-menu .more-sub-menu {
                display: none;
            }

            .navbar .links li .sub-menu .more span {
                /* background: red; */
                display: flex;
                align-items: center;
                /* justify-content: space-between; */
            }

            .links li .sub-menu .more:hover .more-sub-menu {
                display: none;
            }

            nav .navbar .links li:hover .htmlCss-sub-menu,
            nav .navbar .links li:hover .js-sub-menu {
                display: none;
            }

            .navbar .nav-links.show1 .links .htmlCss-sub-menu,
            .navbar .nav-links.show3 .links .js-sub-menu,
            .navbar .nav-links.show2 .links .more .more-sub-menu {
                display: block;
            }

            .navbar .nav-links.show1 .links .htmlcss-arrow,
            .navbar .nav-links.show3 .links .js-arrow {
                transform: rotate(180deg);
            }

            .navbar .nav-links.show2 .links .more-arrow {
                transform: rotate(90deg);
            }
        }

        @media (max-width:370px) {
            nav .navbar .nav-links {
                max-width: 100%;
            }
        }
    </style>

    <title>Profile</title>
</head>

<body>

    <header>
        <%- include('../views/header'); %>
    </header>

    <main>
        <div class="container-lg" style="margin-top: 5%;">
            <div class="row">
                <!--Div for profile -->
                <div class="col-md-5 col-lg-4 bg-white">
                    <div class="m-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center mt-5">
                                    <img src="<%= data[0].image %>" alt="Admin" class="rounded-circle" width="150"
                                        height="150">
                                    <div class="mt-3 text-black">
                                        <h4>
                                            <%= data[0].name %>
                                        </h4>
                                        <p class="mb-1 text-black-50">
                                            <%= data[0].bio %>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <table class="table border-white text-black-50">
                                    <tr>
                                        <td class="d-inline-block" scope="row"> <i
                                                class="fa-solid fa-location-dot d-inline-block me-2"></i>From</td>
                                        <td scope="row">
                                            <%= data[0].address %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row" class="d-inline-block"><i
                                                class="fa-solid fa-user d-inline-block me-2"></i>joined</td>
                                        <td scope="row">
                                            <%= new Date(data[0].createTime).toLocaleDateString("en-US", { month: "long"
                                                , day: "numeric" , year: "numeric" }); %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row" class="d-inline-block"><i
                                                class="fa-solid fa-users d-inline-block me-2"></i></i>Gender</td>
                                        <td scope="row">
                                            <%= data[0].gender %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="card mt-3">
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title  ">Description</h5>
                                    <p class="card-text my-4 text-black-50">
                                        <%= data[0].description %>
                                    </p>
                                </div>
                                <hr>
                                <div class="my-4">
                                    <h5 class="card-title">Linked Accounts</h5>
                                    <ul class="list-group">
                                        <li class="list-group-item border-0"><a
                                                class="text-decoration-none text-black-50" href="#"><i
                                                    class="fas fa-envelope me-2"></i>
                                                <%= data[0].email %>
                                            </a></li>
                                        <li class="list-group-item border-0"><a
                                                class="text-decoration-none text-black-50" href="#"><i
                                                    class="fa-brands fa-twitter me-2"></i>
                                                <%= data[0].twitter %>
                                            </a></li>
                                        <li class="list-group-item border-0"><a
                                                class="text-decoration-none text-black-50" href="#"><i
                                                    class="fa-brands fa-facebook me-2"></i>
                                                <%= data[0].facebook %>
                                            </a></li>
                                        <li class="list-group-item border-0"><a
                                                class="text-decoration-none text-black-50" href="#"><i
                                                    class="fa-brands fa-whatsapp me-2"></i>
                                                <%= data[0].whatsapp %>
                                            </a></li>
                                    </ul>
                                </div>
                                <hr>
                                <div class="my-4">
                                    <h5 class="card-title">Skills</h5>
                                    <% for(var i=0;i<skills.length;i++ ){ %>
                                        <button class="btn m-1 btn-outline-secondary text-black-50 rounded-pill">
                                            <%= skills[i].skill %>
                                        </button>
                                        <% } %>
                                </div>
                                <hr>
                                <div class="my-4">
                                    <h5 class="title-education">Education</h5>
                                    <ul class="list-group">
                                        <% for(var i=0;i<education.length;i++ ){ %>
                                            <li class="list-group-item border-0 text-black-50 my-0">
                                                <i class="fa-solid fa-graduation-cap me-2"></i>
                                                <%= education[i].degree %>, <%= education[i].institute %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <!-- pagination -->
                <div class="col-md-7 col-lg-8">
                    <div class="card mt-2">
                        <div class="card-body">
                            <div class="card-title text-center">
                                <p class="d-inline-block me-2 text-success">
                                    <b>
                                        <%= reviews %> reviews for this seller
                                    </b>
                                </p>
                                <% for (var i=0; i < 5; i++) { %>
                                    <i class="fa-solid fa-star text-warning"></i>
                                    <% } %>
                            </div>

                            <% for (var i=0; i < ratings.length; i++) { %>
                                <div class="review-section">
                                    <div class="text-success d-inline-flex mx-3">
                                        <p class="text"><strong>
                                                <%= ratings[i].stars %> <i class="fa-solid fa-star text-success"></i>
                                            </strong></p>
                                    </div>
                                    <div class="progress w-75 d-inline-flex">
                                        <div class="progress-bar bg-success" role="progressbar"
                                            style="width: <%= ratings[i].percentage %> %"
                                            aria-valuenow="<%= ratings[i].percentage %>" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                    <div class="text-success d-inline-flex ms-3"><strong>(<%= ratings[i].count %>
                                                )</strong></div>
                                </div>
                                <% } %>
                        </div>
                    </div>

                    <!-- reviews section -->
                    <% for(var i=rating.length-1;i>=0;i-- ){ %>
                        <hr>
                        <div class="d-flex">
                            <!-- Image -->
                            <a href="#"> <img src="<%= rating[i].clientPic %>" alt="<%= rating[i].clientName %>"
                                    class="mt-2 me-3 rounded-circle" style="width: 60px; height: 60px;" />
                            </a>
                            <!-- Body -->
                            <div>
                                <h5 class="fw-bold mb-0">
                                    <%= rating[i].clientName %><br>
                                </h5>
                                <small class="text-muted">Posted on <%= new
                                        Date(rating[i].createTime).toLocaleDateString("en-US", { month: "long" ,
                                        day: "numeric" , year: "numeric" }); %></small>
                                <div class="icon m-0 mb-2">
                                    <% for (let j=0; j < 5; j++) { %>
                                        <% if (j < rating[i].star ) { %>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <% } else { %>
                                                <i class="fa-solid fa-star text-secondary"></i>
                                                <% } %>
                                                    <% } %>
                                </div>

                                <p class="my-2">
                                    <%= rating[i].text %>
                                </p>
                            </div>
                        </div>
                        <% } %>
                            <hr>
                </div>
            </div>
        </div>
        </div>
    </main>


    <footer>
        <%- include('../views/footer'); %>
    </footer>
    <script src="../javascript/navbar.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>